# filemanager.te - SELinux policy for FileManager system app

type filemanager, domain;
type filemanager_exec, exec_type, file_type;

init_daemon_domain(filemanager)

allow system_server filemanager_exec:file { read execute open getattr map };

allow filemanager app_data_file:dir { search open read getattr };
allow filemanager app_data_file:file { open read getattr };
allow filemanager media_rw_data_file:dir { search open read getattr };
allow filemanager media_rw_data_file:file { open read getattr };

allow filemanager rootfs:dir { search };
allow filemanager system_file:dir { search };
allow filemanager storage_file:dir { search };

allow filemanager logd:unix_stream_socket connectto;
